{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="google-adsense-account" content="ca-pub-5777518478263219">
    <title>GenVoice Network</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5777518478263219"
     crossorigin="anonymous"></script>
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <!-- {% include 'components/Loader.html' %} -->

    {% include 'components/SocialBar.html' %}
    {% include 'components/SearchOverlay.html' %}
    {% include 'components/Navbar.html' %}
    {% include 'components/NewsTicker.html' %}

    
    {% block bodyContent %}  {% endblock %}

    
    {% include 'components/Footer.html' %}
    <script src="{% static 'js/loader.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>