<div id="newsLoader">
    <div class="loader-inner">
        <div class="loader-logo">
            <span class="g">Gen</span>
            <span>Voice</span>
        </div>

        <div class="loader-subtitle"> GenVoice Network </div>

        <div class="loader-rule"></div>

        <div class="loader-headline">
            <span id="loaderHeadline"></span>
        </div>

        <div class="loader-dots">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="loader-stamp"> Est. 2026 </div>
</div>  