<div class="social-wrapper">
    <div id="socialBar" class="fixed-social">
        <button id="socialToggle" class="social-handle">  <i class="fas fa-chevron-left"></i>  </button>

        <a href="https://www.facebook.com/genvoicenetwork/" target="_blank" class="social-btn facebook"> <i class="fab fa-facebook-f"></i> </a>
        <a href="https://x.com/genvoicenetwork" target="_blank" class="social-btn twitter"> <i class="fab fa-x-twitter"></i> </a>
        <a href="https://www.instagram.com/genvoicenetwork/" target="_blank" class="social-btn instagram"> <i class="fab fa-instagram"></i> </a>
        <a href="https://www.youtube.com/@genvoicenetwork" target="_blank" class="social-btn youtube"> <i class="fab fa-youtube"></i> </a>
    </div>
</div>